.jumbotron {
    background-color: transparent
}
.btn-primary {
    background-color: #007bff;
    border-radius: 100px;
    text-align: center;
    width: auto;
    color: white;
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}