html, body {
    height: 100%;
    width: 100%;
}




body {
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: #fff;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("/img/back1.jpg");
    background-size: cover;
}
.form {
    display: block;
    padding-top: 7rem;
}
.container {
    width: 400px;

    margin-right: auto;
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link {
    border: 2px solid rgb(255,255,255);
    border-radius: 100px;
    display: inline-block;
    float: none;
    text-align: center;
    width: 120px;
    padding: 0px!important;
    font-size: 14px;
    color: #ffffff;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:grey;
    border: 2px solid grey;
    border-radius: 100px;
    display: inline-block;
    float: none;
    text-align: center;
    width: 120px;
    padding: 0px!important;
    font-size: 14px;
}

#main {
    background-image: url(/img/back1.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.nav-item {
    margin: 5px;
}

#promo .jumbotron {
    text-align: center;
    padding: 300px;
    background-color: rgba(255,252,252,0);
}

.btn .btn-primary {
   border-radius: 400px;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.navbar-light .navbar-brand{
    color:white;
}
.navbar-light .navbar-brand:hover {
    color:grey
}