html, body {
    height: 100%;
    width: 100%;
}




body {
    margin: 0;
    font-family: Montserrat,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;!important;
    text-align: left;
    background-color: #fff;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("/img/back1.gif");
    background-size: cover;
}
p,h1,h2,h3,h4,h5,h6{
    color:black;
}
.form {
    display: block;
    padding-top: 7rem;
}
.container {
    width: 400px;

    margin-right: auto;
    margin-left: auto;
}

.navbar-light .navbar-nav .nav-link {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
    display: inline-block;
    float: none;
    text-align: center;
    /* width: 120px; */
    margin-left: 5px;
    /* padding: 0px !important; */
    font-size: 14px;
    color: #000000;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:grey;
    border: 2px solid grey;
    border-radius: 100px;
    display: inline-block;
    float: none;
    text-align: center;
    font-size: 14px;
}

#main {
    background-image: url(/img/back1.gif);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.nav-item {
    margin: 5px;
}

#promo .jumbotron {
    text-align: center;
    padding: 300px;
    background-color: rgba(255, 252, 252, 0);
}

.btn-primary {
    background-color: #007bff;
    border-radius: 100px;
    display: inline-block;
    float: none;
    text-align: center;
    width: auto;
    /* font-size: 14px; */
    color: white;
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
    color: white;
}

.navbar-light .navbar-brand{
    color:black;
}
.navbar-light .navbar-brand:hover {
    color:grey
}
.form-horizontal .form-control{
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 100px;
    display: inherit;
    height: 41px;
    margin-top: 5px;
    width: auto;
    padding: 0px!important;
    font-size: 14px;
    color: #000000;
}
.form-horizontal .form-control:hover {
    color:grey;
    border: 2px solid grey;
    border-radius: 100px;
    display: inline-block;
    float: none;
    text-align: center;
    font-size: 14px;
}
.text-info {
    color: black;!important;
}
