html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif;

    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: #fff;
    width: 100%;

    overflow-x: hidden;

    background-size: cover;
}


.navbar-light .navbar-nav .nav-link {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
    display: inline-block;
    float: none;
    text-align: center;
    width: 120px;
    padding: 0px !important;
    font-size: 14px;
    color: #000000;
}



.btn-primary {
    background-color: #007bff;
    border-radius: 100px;
    display: inline-block;
    float: none;
    text-align: center;
    width: auto;
    font-size: 14px;
    margin: 5px;
    color: white;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.navbar-light .navbar-brand {
    color: black;
}

.navbar-light .navbar-brand:hover {
    color: grey
}


strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.table-responsive {
    background: transparent;
    border-collapse: separate;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 80%;
    /* border: 1px solid #b6d5ef; */
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 6rem;
}

th, td {
    width: 500px;
    text-align: left;
}
th{
    font-size: 1.1rem;
}

td {
    background-color: #f2f2f2;
    font-size: 0.8rem;
}
tr{
    background-color: #bfbfbf;
    font-size: 1rem;
}

.footer-copyright{
    color:black
}
.form-horizontal .form-control{
    border: 2px solid black;
    background-color: #ffffff;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    width: auto;
    height: 26px;
    margin-left: 6px;
    padding: 0px!important;
    font-size: 14px;
    color: #000000;
}
.form-horizontal .form-control:hover {
    color:grey;
    border: 2px solid grey;
    border-radius: 100px;
    display: inline-block;
    float: none;
    text-align: center;
    font-size: 14px;
}


