html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("/img/back1.jpg");
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
}
section {
    display: block;
    padding-top: 7rem;
}
.container {
    width: 400px;

    margin-right: auto;
    margin-left: auto;
}
.navbar-light .navbar-nav .nav-link {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
    display: inline-block;
    float: none;
    text-align: center;
    width: 140px;
    padding: 4px!important;
    font-size: 15px;
    color: #000000;
}


.nav-item {
    margin: 5px;
}



.form-group {
    margin-bottom: 1rem;
    color: black;
}

.text-info {
    color: black;
}
.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: white;
    text-align: center;
}